#service {
  position: relative;
  overflow: hidden;
}

#service h2 {
  font-weight: 600;
  font-size: 50px;
}

.service_img {
  overflow: hidden;
}

#service img {
  width: 100%;
  height: auto;
  display: block;
}

#service p {
  font-size: 20px;
}

#service i {
  font-size: 20px;
}

#service span {
  font-size: 20px;
}

#categories {
  overflow: hidden;
}

#categories h2 {
  font-weight: 600;
  font-size: 50px;
}

#categories .btn {
  background-color: #000;
  color: #fff;
  padding-inline: 20px;
  padding-block: 10px;
}

#categories .text {
  color: #fff;
}
#categories .btn:hover .text {
  color: #000;
}

#categories .btn:hover {
  background-color: #fff;
  color: #000;
  border: #000 solid 2px;
}

#categories .btn:hover {
  color: #000;
}

#categories .btn:hover i {
  color: #000;
  transition: all 0.6s;
}

#categories .categories-image {
  overflow: hidden;
}

#categories .categories-image img {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  object-fit: cover;
}

#categories .categories-image img:hover {
  transform: scale(110%);
  opacity: 0.5;
  transition: all 0.6s;
}

#events h2 {
  font-weight: 600;
  font-size: 50px;
}

.footer span {
  color: #ffffffa6;
}

.footer p {
  color: #fff;
}

.footer a {
  color: #fff;
  font-size: 28px;
}

.footer .last-par {
  color: #ffffffa6;
}

.footer .middle_foot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .end-foot {
  display: flex;
  flex-direction: column;
  align-items: end;
}

footer i {
  font-size: 24px;
}

footer .facebook:hover {
  color: #106bff;
}

footer .instagram:hover {
  color: #fe107c;
}

footer i {
  border-radius: 50%;
}

footer .x-twitter:hover {
  color: #000;
  background-color: #fff;
}

footer .youtube:hover {
  color: red;
}
